VITE_API_URL=http://localhost:4000
# backend
PORT=4000
DATABASE_FILE=./data/db.sqlite
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=seu_usuario
SMTP_PASS=sua_senha
FROM_EMAIL="Sistema Distribuidora <no-reply@seudominio.com>"
FRONTEND_BASE_URL=http://localhost:5173
JWT_SECRET=uma_chave_secreta_long
